@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Peoples</title>
</head>
<body>
    <h1>Thank You </h1>
    <a href="/Form/GetAllPeoples">see who come</a>
</body>
</html>