@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Add people</title>
</head>
<body>
    <form action="/Form/AddPeople">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />

        <label for="email">Email</label>
        <input id="email" name="email" type="text" />

        <label for="Phone">Phone</label>
        <input id="Phone" name="Phone" type="text" />

        <input type="submit" value="Add" />
    </form>
</body>
</html>